# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
static_files/
static_media/

# Environment
.env
.env.*
!.env.example

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Claude
.claude/
.codex/

# Docker
*.override.yml
docker-compose.yml
Dockerfile

# Docs locales
README/

# OS
.DS_Store
Thumbs.db
desktop.ini
