
.text-align-center {
    text-align: center;
}

.button-titulares{
  margin-top:1.95rem;
  padding-left: 0rem;
}
.no-margin-right{
  padding-right:0rem;
  margin-right: 0rem;
}
.onlytext-nueva-venta{
  margin-top:2.2rem;
  padding-left: 0rem;
  padding-right: 0rem;
}
.botones-centrados{
  display: flex;
  align-items: center;
}

#general-right-alert{
  z-index: -1;
}

#general-right-alert.show{
  z-index: 2000;
}
