{%load static%}
<html>
    <body>
        <div id="footer_content">
            <table style="color:#34554c;font-size:9px">
                <tr>
                    <td style="text-align:center;border-right: darkslategrey solid 0.5px;padding-right: 5px;">
                        <b>Medellín</b><br>
                        Cra 48A # 10 Sur 56<br>
                        Teléfono: (4) 444 62 91
                    </td>
                    <td style="text-align: right;width:70%">
                        VERSIÓN: 2<br>
                        TODOS LOS CHEQUES, CONSIGNACIONES Y TRANSFERENCIAS DEBEN SER GIRADOS A NOMBRE DE<br>
                        <strong>ANDINA CONCEPTOS INMOBILIARIOS S.A.S. NIT: 900993044-9</strong>
                        </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <th>
        
                    </th>
                    <th style="width:80%;align:center">
                        <img src="{%static 'img/casas-de-verano450x.png'%}" width="180">
                    </th>
                    <th>
                    </th>
                </tr>
            </table><br>
            <table>
                <tr>
                    <th></th>
                    <th style="width:90%;text-align:center;">
                        <p style="color:#345555;font-size: 15px">CONTRATO DE PROMESA DE COMPRAVENTA DE BIEN FUTURO, PROYECTO DENOMINADO “CONJUNTO RESIDENCIAL 
                            FRACTAL CASAS DE VERANO” <span style="color:lightcoral;font-size:15px;"><b>No.&nbsp;{{ctr.pk}}</b></span></p>
                    </th>
                    <th></th>
                </tr>
            </table>
            <p style="text-align:justify;" class="cuerpo">
                Entre los suscritos a saber: por una parte, la sociedad denominada <b>ANDINA CONCEPTOS INMOBILIARIOS S.A.S (ANTES PROMOTORA SANDVILLE S.A.S), 
                </b>con NIT 900.993.044-9, sociedad con domicilio en la ciudad de Medellín, inscrita en la Cámara de Comercio de Medellín, para Antioquia, 
                con la matricula mercantil Nº 21-671654-12, quien para los efectos del presente contrato se denomina <b>LA PROMITENTE VENDEDOR, </b>
                y de la otra parte,<b> EL (LOS) SEÑOR (ES): </b>
            </p>
            <ol class="detalles">
                {%for titular in ctr.titulares%}
                <li style="font-size:12px;margin-bottom:5px" class=".cuerpo">
                    <b>Nombre:</b><u>&nbsp;&nbsp;{{titular.nombrecompleto}}&nbsp;&nbsp;</u>
                    <b>CC:</b><u>&nbsp;&nbsp;{{titular.pk}}&nbsp;&nbsp;</u>
                    <b>Telefono:</b><u>&nbsp;&nbsp;{{titular.telefono1|default:"Sin informacion"}}&nbsp;&nbsp;</u>
                    <b>Dir. Residencia:</b><u>&nbsp;&nbsp;{{titular.domicilio}}&nbsp;&nbsp;</u>
                    <b>Ciudad/Municipio:</b><u>&nbsp;&nbsp;{{titular.city.city_name|default:"Sin informacion"|default_if_none:"Sin información"}},
                        {{titular.estado.state_name|default:"Sin informacion"|default_if_none:"Sin información"}},
                        {{titular.pais.country_name|default:"Sin informacion"|default_if_none:"Sin información"}},
                        &nbsp;&nbsp;</u>
                    <b>Email:
                    </b><u>&nbsp;&nbsp;{{titular.email|default:"Sin información"|default_if_none:"Sin información"}}&nbsp;&nbsp;</u>
                </li>
                {%endfor%}
            </ol>

            <p class='cuerpo' style="text-align:justify">
                Quien (es) para los efectos del presente contrato se denomina <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES),</b> 
                y ambos conjuntamente se denominarán <b>LAS PARTES, </b>hemos decidido celebrar el presente contrato de 
                <b>PROMESA DE COMPRAVENTA </b><b>DE BIEN FUTURO</b>, de acuerdo a los preceptos establecidos en nuestra Legislación Civil colombiana 
                y demás normas concordantes, previa las siguientes <br><br>
                <b>DECLARACIONES</b><br>
                <b>PRIMERO: </b><b>LA PROMITENTE VENDEDORA</b> adelanta un proyecto de urbanización de futuro desarrollo con construcción simultánea y 
                venta garantizada de lotes, localizado en el Municipio de Moñitos, Departamento de Córdoba, denominado <b>“</b><b>CONJUNTO RESIDENCIAL FRACTAL CASAS DE VERANO</b>
                <b>”.</b><br>
                <b>SEGUNDO:</b> Las características de los lotes, zonas públicas y zonas comunes que conforman el proyecto, se encuentran descritas en el plano comercial 
                y piezas promocionales del mismo, el cual, <b>EL(LOS) PROMITENTE(S) COMPRADOR(ES)</b> declara(n) conocer. <br>
                <b>TERCERO:</b> Los lotes que conforman el proyecto <b>“</b><b>CONJUNTO RESIDENCIAL FRACTAL CASAS DE VERANO</b>”<b>,</b> 
                tienen en la actualidad la condición legal de bien futuro o cosa futura de acuerdo a los preceptos establecidos en el 
                Artículo 1869 del Código Civil colombiano y así, las partes declaran conocerlo y aceptarlo, plenamente conscientes y capaces.   
                De acuerdo a las anteriores declaraciones, se celebra el presente Contrato de Promesa de Compraventa de Bien Futuro, el cual 
                se regirá por las siguientes cláusulas:<br><br>
                <b>CLÁUSULA </b><b>PRIMERA. OBJETO DEL CONTRATO Y DESCRIPCIÓN DEL INMUEBLE: </b>El presente contrato tiene por objeto la compra por parte de 
                <b>EL(LOS) PROMITENTE(S) COMPRADOR(ES)</b>, de un lote en el proyecto <b>“</b><b>CONJUNTO RESIDENCIAL FRACTAL CASAS DE VERANO</b>”<b>,</b> 
                localizado en el Municipio de Moñitos, Departamento de Córdoba, identificado con folio de matrícula inmobiliaria de mayor extensión Nº 146-60548 de la 
                Oficina de Registro de Instrumentos Públicos de Lórica, lote que tiene las siguientes especificaciones: <br>
            </p>
            <p class='cuerpo' style="text-align:justify">
                <p>
                    <b>Lote N°</b> <u> {{ctr.general_info.inmueble.lotenumero}} </u>,
                    <b>Manzana</b> <u> {{ctr.general_info.inmueble.manzananumero}}</u>, 
                    <b>Área total del lote</b> <u> {{ctr.general_info.inmueble.area_lt}} </u> Metros Cuadrados,
                    <b>% del derecho</b> <u> {{ctr.general_info.inmueble.porcentaje_derecho}} %</u>, 
                    <b>Fracción</b> <u> {{ctr.general_info.inmueble.nro_fraccion}} </u>, 
                    <b>Área de la fraccion</b> <u> {{ctr.general_info.inmueble.areaprivada}} </u> Metros Cuadrados, 
                    con las siguientes medidas y linderos:
                </p>
                <b>Por el norte</b> <u>{{ctr.general_info.inmueble.norte}}</u> metros con
                <u>{{ctr.general_info.inmueble.colindante_norte}}</u>,
                <b>Por el este</b> <u>{{ctr.general_info.inmueble.este}}</u> metros con
                <u>{{ctr.general_info.inmueble.colidante_este}}</u>,
                <b>Por el sur</b> <u>{{ctr.general_info.inmueble.sur}}</u> metros con
                <u>{{ctr.general_info.inmueble.colindante_sur}}</u>,
                <b>Por el oeste</b> <u>{{ctr.general_info.inmueble.oeste}}</u> metros con
                <u>{{ctr.general_info.inmueble.colindante_oeste}}</u>.
            </p>

            <p class='cuerpo' style="text-align:justify">
                El bien inmueble identificado aparece señalado en el plano oficial de la urbanización, que es parte 
                integrante de este contrato. No obstante, el área citada, esta venta se hace como cuerpo cierto. 
                <b>PARÁGRAFO PRIMERO</b> Este lote se identificará con el número de matrícula inmobiliaria que le asigne la 
                Oficina de Registro de Instrumentos Públicos de Lorica (Córdoba), para cada lote, al momento de registrar la escritura de 
                Reloteo y Reglamento de Propiedad Horizontal.  
                <b>PARÁGRAFO SEGUNDO:</b> En caso de presentarse alguna variación en el diseño inicial urbanístico, el cual afecte la ubicación 
                del lote adquirido en esta promesa de compraventa, <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES)</b>, aceptan desde ya cualquier cambio 
                de ubicación siempre y cuando el lote esté dentro la misma urbanización, que esté en la misma etapa constructiva, que su orientación 
                en la manzana correspondiente sea equivalente a la inicialmente escogida y que el área del terreno sea igual o mayor a la inicialmente pactada.<br><br>
                
                <b>CLÁUSULA</b><b> SEGUNDA. </b><b>TRADICIÓN</b><b>:</b> El lote de terreno en donde se desarrolla el proyecto 
                <b>CONJUNTO RESIDENCIAL FRACTAL CASAS DE VERANO</b><b>, </b>fue adquirido por la sociedad <b>ANDINA CONCEPTOS INMOBILIARIOS S.A.S</b><b>, 
                (antes </b><b>PROMOTORA SANDVILLE S.A.S</b><b>)</b><b>., </b>con<b> </b>NIT: 900.993.044-9, así: Inicialmente fueron adquiridos los 
                siguientes predios: El Lote de terreno con matrícula Inmobiliaria No. 146-57727, mediante escritura pública número 535 del 09 de 
                agosto del 2.023 otorgada en la Notaría Única del Círculo de Lorica. El lote de terreno con matrícula Inmobiliaria No. 146-50129 
                mediante escritura pública número 932 del 22 de noviembre del 2.016 otorgada en la Notaría Única del Círculo de Lorica. El lote de 
                terreno con matrícula Inmobiliaria No. 146-39487, mediante escritura pública número 366 del 28 de mayo del 2.021 otorgada 
                en la Notaría Única de Lorica. El lote de terreno con matrícula Inmobiliaria No. 146-39488, mediante escritura pública 
                número 345 del 22 de mayo del 2.017 otorgada en la Notaría Única del Círculo de Lorica. Posteriormente, dichos lotes de terreno, 
                fueron englobados mediante Escritura Pública 2337 de fecha 23 de octubre de 2024, otorgada ante la Notaría Primera de Montería, 
                siendo registrada al folio de matrícula inmobiliaria número 146-60361, que englobó los lotes referidos. Acto seguido, dicho 
                inmueble fue subdividido, mediante Resolución N° 783 de fecha de 02 de enero de 2025, “Por la cual se concede Licencia Urbanística 
                en la modalidad de Subdivisión de Predios Urbanos”, Resolución que, fue protocolizada mediante escritura pública N° 170 de fecha 
                28 de enero de 2025, de la Notaría Primera del círculo de Montería, inscrita en la oficina de instrumenos públicos de Lórica, 
                al folio de matrícula inmobiliaria N° 146-60361, del cual, se derivó entre otros, el folio de matrícula inmobiliaria N° 146-60548, 
                LOTE N° 4 (Conjunto Residencial Fractal Casas de Verano).<br><br>
                
                <b>CLÁUSULA TERCERA. </b><b>LICENCIA DE URBANISMO: </b>Que, el proyecto de urbanización <b>“</b><b>CONJUNTO RESIDENCIAL FRACTAL CASAS DE VERANO</b>”,
                 localizado en el Municipio de Moñitos, Departamento de Córdoba, fue aprobado mediante Resolución N° 0306-1 expedida en fecha 15 de noviembre de 2023, 
                 para el desarrollo de vivienda cerrada y/o sujeta al Régimen de Propiedad Horizontal, para el desarrollo del proyecto por etapas, expedida 
                 por la Secretaría de Planeación de Moñitos, Departamento de Córdoba. La cual fue modificada por la Resolución N° 0209 expedida en fecha 
                 11 de abril de 2025, “Por medio del cual, se hace modificación de licencia urbanística en la modalidad de urbanismo y construcción, 
                 ubicada en el sector pueblito, zona urbana del municipio de Moñitos”, expedida por la Secretaría de Planeación de Moñitos, Departamento de Córdoba.
            </p>
            <p class='detalles' style="text-align:justify">
                <b>CLÁUSULA CUARTA. VALOR DEL INMUEBLE Y FORMA DE PAGO:</b> El valor del lote objeto de este contrato, es la
                suma de:
                <u>{{ctr.general_info.valor_en_letras}}</u> ($<u>{{ctr.general_info.valor|floatformat:"-3g"}}</u>)
            </p>
            <table class='detalles'>
                <tr>
                    <td style="width:2%"></td>
                    <td style="text-align:justify;vertical-align: top;">
                        <b>1. CUOTA INICIAL:</b> la suma de $ <u><b>{{ctr.general_info.ci|floatformat:"-3g"}}</b> </u> a pagar así, 
                        <u>{{ctr.general_info.fp_ci}}</u>.<br>
                    </td>
                    <td style="width:5%"></td>
                    <td style="text-align:justify;vertical-align: top;">
                        <b>2. SALDO A PAGAR:</b>{%if ctr.general_info.saldo == 0 %} <u>$ 0</u> {%else%} la suma de $ <u><b>{{ctr.general_info.saldo|floatformat:"-3g"}}</b></u> a pagar con
                        plan <u>{{ctr.forma_pago}}</u>
                        {%if ctr.forma_pago == 'Amortizacion'%} (El valor de las cuotas mensuales incluye los intereses
                        corrientes) {%endif%}
                        así,
                        <u>{{ctr.general_info.fp_saldo}}</u>.{%endif%}<br>
                    </td>
                    <td style="width:2%"></td>
                </tr>
            </table>
            {%if ctr.observaciones != ""%}
            <p class='detalles' style="text-align:justify">
                <b>OBSERVACIONES DE LA FORMA DE PAGO: </b><u>{{ctr.observaciones}}</u>.<br>
                <small>(SOLO SE TIENEN EN CUENTA LAS OBSERVACIONES QUE SE HAGAN SOBRE LA FORMA DE PAGO. CUALQUIER OBSERVACIÓN FUERA DE LA FORMA DE PAGO, NO TIENE VALIDEZ PARA ESTE
                    CONTRATO).</small>
            </p>
            {%endif%}
            <p class='cuerpo' style="text-align:justify">
                <b>PARÁGRAFO PRIMERO: </b>En caso de mora en el pago de cualquiera de las cuotas correspondientes a la cuota inicial o a
                las cuotas mensuales de amortización para el pago del saldo del lote, objeto de este contrato, por parte de <b>EL (LOS)
                    PROMITENTE(S) COMPRADOR(ES), </b>pagará (n) estos a <b>LA PROMITENTE VENDEDORA, </b>intereses moratorios a la tasa
                máxima legal vigente mensual y/o fracción de mes vencido, establecida por la Superintendencia Financiera de Colombia,
                sin perjuicio de los derechos, acciones y facultades de <b>LA PROMITENTE VENDEDORA</b>, pues, en tal evento y en
                cualquier momento, durante la mora podrá exigir el pago del saldo total adeudado con sus intereses, además de hacer
                efectiva la cláusula de penal del presente contrato.
                <b>PARÁGRAFO SEGUNDO:</b> En los casos que haya saldos pendientes, los pagos que haga(n) <b>EL(LOS) PROMITENTE(S)
                    COMPRADOR(ES) </b>serán aplicados, en primer lugar, al pago de intereses que tenga(n) pendientes de cancelación por
                cualquier concepto; y el excedente se aplicará al capital.
                <b>PARAGRAFO TERCERO: </b>Si dentro del valor del lote objeto de este contrato, <b>LA PROMITENTE VENDEDORA</b> le otorgó
                a <b>EL(LOS) PROMITENTE(S) COMPRADOR(ES)</b> un descuento financiero por valores recibidos anticipadamente, dicho
                descuento finalmente se aplicará, previa verificación de los dineros recibidos en las fechas pactadas, al saldo por
                pagar.
                <b>PARÁGRAFO CUARTO:</b> <b>LA PROMITENTE VENDEDORA</b> solicitará a <b>EL(LOS) PROMITENTE(S) COMPRADOR(ES) </b>las
                garantías reales o personales que juzgue convenientes para respaldar el pago de la obligación adquirida en el presente
                contrato, como son pagaré, o letra de cambio.

                <b>CLÁUSULA</b><b> QUINTA. </b><b>LA PROMITENTE VENDEDORA</b> se obliga al saneamiento por evicción y a responder por
                cualquier gravamen y acción que resultare contra el derecho que transferirá y, además, responderá por cualquier vicio
                redhibitorio sobre la parcela, de acuerdo al Código Civil.

                <b>CLÁUSULA</b><b> SEXTA. FECHA DE ESCRITURACIÓN: </b>Las partes acuerdan que la fecha de escrituración del bien
                inmueble, objeto de este contrato, será el día <u> {{fecha_escritura.day}} </u> del mes de <u>
                    {{fecha_escritura|date:"F"}} </u> del año <u> {{fecha_escritura.year}} </u>, en la Notaría Quinta de Medellín a las
                10:00 de la mañana., siempre y cuando se cumpla con las condiciones indicadas en la cláusula séptima de este contrato.

                <b>PARÁGRAFO PRIMERO: </b>Si la fecha estipulada para la celebración de la escritura pública de compraventa fuese un día
                no hábil, se tendrá por cierto para su celebración el día hábil siguiente.

                <b>PARÁGRAFO SEGUNDO:</b> Si, llegada la fecha para el otorgamiento de la escritura pública de compraventa, <b>EL (LOS)
                    PROMITENTE(S) COMPRADOR(ES), </b>presenta (n) un saldo por pagar al valor del lote, y este no ha sido cancelado
                antes del otorgamiento de la misma, podrá <b>LA PROMITENTE VENDEDORA, </b>escriturar la parcela a <b>EL (LOS)
                    PROMITENTE(S) COMPRADOR(ES), </b>con una Hipoteca Abierta sin límite de cuantía, a favor de la sociedad <b>ANDINA
                    CONCEPTOS INMOBILIARIOS S.A.S.</b>

                <b>PARÁGRAFO TERCERO: </b>Si, el lote objeto de este contrato se encuentra individualizado con folio de matrícula
                inmobiliaria, y cédula catastral, antes de la fecha de escrituración pactada en esta cláusula, <b>LA PROMITENTE
                    VENDEDORA, </b>podrá otorgar a <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES), </b>la escritura pública de compraventa. En
                caso de existir un saldo pendiente por pagar del valor del lote, por parte de <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES),
                </b>se otorgará dicha escritura con una Hipoteca Abierta sin límite de cuantía, a favor de la sociedad <b>ANDINA
                    CONCEPTOS INMOBILIARIOS S.A.S.</b><b> </b>

                <b>PARÁGRAFO CUARTO: </b>A partir del otorgamiento de la escritura pública de compraventa del lote objeto de compra, por
                parte de <b>LA PROMITENTE VENDEDORA</b>, correrá(n) por cuenta de <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES)</b> todos los
                impuestos que se deriven del bien inmueble prometido en venta.

                <b>PARÁGRAFO</b> <b>QUINTO</b><b>: </b>En caso que <b>LA PROMITENTE VENDEDORA</b> no escriture en la fecha estipulada,
                podrá prorrogar la fecha por un término hasta de trescientos sesenta y cinco (365) días, sin que esto se considere
                incumplimiento.

                <b>PARÁGRAFO </b><b>SEXTO</b><b>: </b>De igual manera, podrá prorrogarse la firma de la escritura pública en eventos de
                caso fortuito o fuerza mayor; y la fecha de la escrituración se prorrogará a partir del plazo inicialmente pactada en la
                cláusula sexta, y su tiempo será igual al tiempo del caso fortuito o fuerza mayor, sin que esto constituya causal de
                incumplimiento y/o desistimiento.

                <b>CLÁUSULA</b><b> SÉPTIMA</b><b>. CONDICIONES DE ESCRITURACIÓN: </b><b>LA PROMITENTE VENDEDORA</b> se obliga a celebrar
                la escritura pública que solemniza la venta del lote objeto de este contrato, en la fecha establecida en la cláusula
                sexta, si, se cumplen con las siguientes condiciones: 1) Que, <b>EL(LOS) PROMITENTE(S) COMPRADOR(ES)</b> haya (n)
                cancelado la totalidad de los valores correspondientes a la cuota inicial y el saldo a pagar establecido en la cláusula
                CUARTA del presente contrato, y presente(n) el respectivo certificado de paz y salvo, expedido por el área
                administrativa de <b>LA PROMITENTE VENDEDORA</b>. 2) Que, el lote objeto de este contrato, se encuentre completamente
                individualizado con el fin de realizar el registro ante la oficina de instrumentos públicos de la jurisdicción
                correspondiente.

                <b>PARÁGRAFO PRIMERO: </b>En caso de no cumplirse la condición número uno (1), establecida en esta cláusula,<b>
                </b>queda a discreción de <b>LA PROMITENTE VENDEDORA</b>, realizar de manera anticipada la escritura pública de
                compraventa, conforme a los parágrafos segundo y tercero de la cláusula SEXTA de este contrato.

                <b>PARÁGRAFO </b><b>SEGUNDO</b><b>: </b>El pago anticipado del valor total del contrato por parte de <b>EL (LOS)
                    PROMITENTE(S) COMPRADOR(ES)</b>, antes de la fecha de escrituración, no dará lugar al otorgamiento de la escritura
                pública de compraventa del lote, de manera anticipada por parte de <b>LA PROMITENTE VENDEDORA. </b>

                <b>CLÁUSULA OCTAVA. ENTREGA MATERIAL:</b> La fecha cierta de entrega del lote, se encontrará establecida en la escritura
                pública de compraventa que suscriban las partes. No obstante, <b>LA PROMITENTE VENDEDORA, </b>se reserva el derecho de
                hacer la entrega material del lote objeto de este contrato, a título de mera tenencia, antes del otorgamiento de la
                escritura pública de compraventa. Para lo cual, se establecerá un acuerdo de tenencia con <b>EL(LOS) PROMITENTE(S)
                    COMPRADOR(ES).</b>

                <b>PARÁGRAFO</b><b> PRIMERO</b><b>:</b><b> </b>Si <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES)</b> no comparece(n) a recibir
                el lote, o presentándose se abstiene (n) de recibirlo sin causa suficiente a juicio de <b>LA PROMITENTE VENDEDORA</b>,
                este se entenderá entregado para todos, dejando constancia en acta de entrega firmada por dos (2) testigos. Así mismo,
                si <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES)</b> no comparece(n) a recibir el lote por razones de caso fortuito o fuerza
                mayor en la fecha señalada para la entrega, deberá(n) justificar por escrito el incumplimiento dentro de tres (3) días
                hábiles siguientes a la fecha de entrega. Una vez aceptada dicha justificación por parte de <b>LA PROMITENTE
                    VENDEDORA</b>, <b>EL(LOS) PROMITENTE(S) COMPRADOR(ES)</b> deberá(n) cumplir y, por ende, recibir el inmueble en la
                nueva fecha establecida por <b>LA PROMITENTE VENDEDORA.</b>

                <b>PARÁGRAFO SEGUNDO: </b><b>LA PROMITENTE VENDEDORA</b> realizará la entrega material del lote objeto de este contrato,
                con su vegetación natural y como se encuentre en el momento de la entrega de acuerdo con las variaciones climáticas. La
                entrega de las obras comunes se realizará por etapas, las cuales incluyen: cerramiento perimetral, portería, vías
                vehiculares y peatonales, zonas verdes, etc. Estas entregas por etapas se harán a la Junta Administradora para que sea
                esta la responsable del mantenimiento y conservación.

                <b>PARÁGRAFO </b><b>TERCERO</b><b>: </b>De acuerdo al avance de obra, permanecerá personal de obra en la urbanización,
                hasta tanto se integre el total de las construcciones y se haga entrega de las mismas. Además, <b>LA PROMITENTE
                    VENDEDORA </b>se reserva el derecho de tener en la obra la casa modelo y sala de ventas, de acceder y permitir la
                entrada a particulares durante toda la gestión de ventas, tomando las medidas de seguridad necesarias.

                <b>CLÁUSULA</b><b> NOVENA: </b>Para la construcción de la vivienda en el LOTE, objeto de este contrato, EL(LOS)
                PROPIETARIO(S) final, deberá(n) cumplir con el estatuto urbano de la copropiedad, por lo que deberá(n) obtener el acta
                de aprobación del diseño de su casa, otorgado por el comité regulador del estatuto urbano de la Urbanización y los
                permisos municipales para la construcción de la vivienda; Una vez obtenidos estos permisos, se obliga a presentar un
                acta de inicio de obra a <b>LA VENDEDORA</b>. Si al momento de la firma del acta de inicio de obra, el LOTE, objeto de
                este contrato, no cuenta con las acometidas de acueducto, alcantarillado y energía eléctrica, <b>LA VENDEDORA</b>
                contará con doscientos setenta (270) días para proveer al predio de las acometidas mencionadas. Las partes acuerdan que
                esta cláusula será incluida en la escritura pública de compraventa.

                <b>PARÁGRAFO PRIMERO: </b>Los tramites de conexión y abastecimiento de los servicios públicos ante las entidades
                correspondientes serán por cuenta de EL(LOS) PROPIETARIO(S) final del LOTE objeto de este contrato. Una vez se haya
                realizado el trámite de escrituración y posterior registro ante la Oficina de Instrumentos Públicos correspondiente, que
                detente la titularidad del mismo.

                <b>PARÁGRAFO SEGUNDO: </b><b>LA VENDEDORA</b> podrá hacer entrega de las acometidas eléctricas, sanitarias y de
                acueducto antes de que se den las condiciones de esta cláusula.

                <b>PARÁGRAFO TERCERO:</b> Los tramites de conexión y/o abastecimiento de los servicios públicos de gas natural, aseo y
                telecomunicaciones serán por cuenta de EL(LOS) PROPIETARIO(S) final del LOTE, objeto de este contrato, una vez se haya
                realizado el trámite de escrituración y registro ante la Oficina de Instrumentos Públicos correspondiente, que detente
                la titularidad del mismo. No obstante, el órgano que se designe como administrador del proyecto “<b>CONJUNTO RESIDENCIAL
                    FRACTAL CASAS DE VERANO</b>”, deberá hacer la solicitud ante las empresas prestadoras de estos servicios, una vez se
                cumpla con el porcentaje de ocupación requerido por las mismas para tal efecto.

                <b>CLÁUSULA</b><b> DÉCIMA</b><b>. RÉGIMEN DE COPROPIEDAD:</b> El proyecto “<b>CONJUNTO RESIDENCIAL FRACTAL CASAS DE
                    VERANO</b>”<b>,</b> estará sometido con todos sus bienes de dominio particular y de dominio común al régimen de
                Propiedad Horizontal contenido en la Ley 675 de 2001 y demás normas complementarias, El Estatuto Urbano para la
                construcción de casas será obligatorio y formará parte del Reglamento de la Copropiedad, para lo cual, <b>EL (LOS)
                    PROMITENTE(S) COMPRADOR(ES)</b> lo acatarán en todos sus términos y condiciones, obligándose desde ya, a dar
                cumplimento a todas las obligaciones que se estipulen en dicho reglamento, especialmente el pago oportuno de las cuotas
                de administración que le corresponda a partir de la fecha fijada, al igual que sus causahabientes a cualquier título.

                <b>PARÁGRAFO PRIMERO:</b> A partir de la entrega de la garita de vigilancia y el cerramiento perimetral por parte de
                <b>LA PROMITENTE VENDEDORA, EL (LOS) PROMITENTE(S) COMPRADOR(ES)</b> acepta(n) pagar la cuota mensual de administración
                correspondiente al porcentaje del área del lote objeto de este contrato, que le corresponde al lote, según el índice de
                propiedad.

                <b>CLÁUSULA</b><b> DÉCIMA </b><b>PRIMERA</b><b>: </b>Las partes establecen que, en lo concerniente a la parcela o bien
                futuro prometido en venta, objeto de este contrato, se regirán por los Títulos VI, XII y XXIII del segundo libro del
                Código Civil colombiano y demás normas concordantes en materia civil.

                <b>CLÁUSULA</b><b> DÉCIMA </b><b>SEGUNDA</b><b>.</b><b> CLÁUSULA PENAL:</b><b> </b>Será causal de incumplimiento del
                contrato de promesa de compraventa de bien futuro, por parte de <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES),</b> el
                desistimiento o determinación de no continuar con las obligaciones del contrato, el incumplimiento de cualquiera de las
                cláusulas en el convenidas, la mora por más sesenta (60) días calendario en el pago de cualquiera de las cuotas
                correspondiente a la cuota inicial, o de las cuotas mensuales de amortización para el pago del saldo lote establecido en
                la cláusula cuarta del mismo, así como, la configuración de una de las causales previstas en cláusula décimo octava de
                este contrato, como lo es la aparición en listas restrictivas o la condena proveniente de delitos relacionados con
                lavados de activos y conexos. Incumplimiento que, dará derecho a <b>LA PROMITENTE VENDEDORA</b>, de declarar extra
                juicio, la terminación unilateral del contrato, sin necesidad de declaración judicial, y cobrará a <b>EL (LOS)
                    PROMITENTE(S) COMPRADOR(ES), </b>a título de cláusula penal, el equivalente al treinta por ciento (30%) del valor
                total del contrato. Además, dispondrá del inmueble objeto de la promesa de venta. En caso de quedar un saldo a favor
                de <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES), </b>luego de haber deducido el valor de la cláusula penal, serán devueltos
                por <b>LA PROMITENTE VENDEDORA, </b>sin que se generen intereses de ninguna naturaleza a favor de <b>EL (LOS)
                    PROMITENTE(S) COMPRADOR(ES)</b>. <b>LA PROMITENTE VENDEDORA</b> acordará con <b>EL(LOS) PROMITENTE(S)
                    COMPRADOR(ES)</b>, los plazos, fechas y montos para la devolución. En caso que no exista un acuerdo entre las
                partes, se fijará un plazo máximo de trescientos sesenta y cinco (365) días contados a partir de la fecha en que
                <b>EL(LOS) PROMITENTE(S) COMPRADOR(ES)</b> manifieste por escrito la solicitud de la devolución para llevar a cabo el
                desembolso de las sumas, anteriormente mencionadas, por parte de <b>LA PROMITENTE VENDEDORA</b>.

                Será causal de incumplimiento del contrato de promesa de compraventa de bien futuro, por parte de <b>LA PROMITENTE
                    VENDEDORA, </b>el desistimiento injustificado o determinación de no continuar con las obligaciones del contrato, así
                como el incumplimiento de cualquiera de las cláusulas en el convenidas. Lo que, faculta a <b>EL (LOS) PROMITENTE(S)
                    COMPRADOR (ES), </b>al cobro de la cláusula penal, equivalente al treinta por ciento (30%) del valor del presente
                contrato, y la restitución de los valores cancelados por parte de estos para la compra del lote. <b>LA PROMITENTE
                    VENDEDORA</b> acordará con <b>EL(LOS) PROMITENTE(S) COMPRADOR(ES)</b>, los plazos, fechas y montos para la
                devolución. En caso que no exista un acuerdo entre las partes, se fijará un plazo máximo de trescientos sesenta y cinco
                (365) días contados a partir de la fecha en que <b>EL(LOS) PROMITENTE(S) COMPRADOR(ES)</b> manifieste por escrito la
                solicitud de la devolución para llevar a cabo el desembolso de las sumas, anteriormente mencionadas, por parte de <b>LA
                    PROMITENTE VENDEDORA</b>.

                <b>PARÁGRAFO:</b> En caso que el incumplimiento de las obligaciones derivadas del presente contrato por parte de <b>LA
                    PROMITENTE VENDEDORA</b> se genere por el acaecimiento de caso fortuito o fuerza mayor comprobable e imputable al
                presente contrato, se podrá exonerar del pago de la cláusula penal pactada.

                <b>CLÁUSULA</b><b> DÉCIMA </b><b>TERCERA</b><b>. LIBERTAD DE GRAVÁMENES Y OBLIGACIÓN DE SANEAMIENTO:</b> <b>LA
                    PROMITENTE VENDEDORA</b> garantiza que no ha enajenado a ninguna persona el LOTE prometido en venta y que tiene el
                dominio de posesión tranquila del inmueble, y declara que hará su entrega libre de registro por demanda civil, uso y
                habitación, arrendamiento por escritura pública, patrimonio de familia inembargable y condiciones suspensivas o
                resolutorias de dominio.
                 
                <b>PARÁGRAFO PRIMERO</b>: Declara igualmente <b>LA PROMITENTE VENDEDORA</b>, que al momento de la escritura pública el
                LOTE prometido en venta, estará a paz y salvo por todo concepto, en especial libre de tasas, impuestos, valorizaciones,
                contribuciones municipales. En el evento que por algún motivo no se hubiere cancelado, éstos correrán por cuenta de
                <b>LA PROMITENTE VENDEDORA</b> siempre que su liquidación sea anterior a la fecha de otorgamiento de la escritura
                pública, o entrega del inmueble que legalice el presente Contrato de Promesa de Compraventa.

                <b>CLÁUSULA</b><b> DÉCIMA CUARTA</b><b>. GASTOS: </b>Todos los gastos fiscales, notariales y legales que se ocasionen
                por la firma de la escritura pública de compraventa, donde se solemnice la transferencia del derecho de propiedad del
                lote, que aquí se promete en venta, así como los timbres y gastos de Registro Público, correrán por cuenta de <b>EL(LOS)
                    PROMITENTE(S) COMPRADOR(ES)</b>.

                <b>CLÁUSULA</b><b> DÉCIMA </b><b>QUINTA</b><b>. CESIÓN</b>: Los deberes y derechos de este contrato por parte de <b>LA
                    PROMITENTE VENDEDORA</b> pueden ser cedidos a la(s) persona(s) natural(es) y/o jurídica(s) que estime conveniente;
                así mismo, lo podrá(n) hacer <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES) </b>si y solo si <b>LA PROMITENTE VENDEDORA</b>
                acepta al nuevo solicitante mediante el diligenciamiento de los requisitos exigidos por esta, estando el PROMITENTE
                COMPRADOR a PAZ Y SALVO por todo concepto al momento se solicitar la cesión, y cancelando la suma equivalente al 5% del
                valor presente contrato.

                <b>CLÁUSULA</b><b> DÉCIMA </b><b>SEXTA</b><b>: AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES. </b>Para efectos de
                la protección de los datos personales y su tratamiento de acuerdo a lo establecido en la Ley 1581 de 2012, y su decreto
                reglamentario 1377 de 2013, <b>EL (LOS) PROMITENTE(S) COMPRADOR(ES) </b>autoriza (mos) de manera libre, expresa,
                voluntaria, a <b>LA PROMITENTE VENDEDORA, </b>la sociedad <b>ANDINA CONCEPTOS INMOBILIARIOS</b><b> S.A.S</b><b>,
                </b>para recolectar, manejar, almacenar, usar, circular, actualizar, cruzar información propia, con el fin de facilitar
                la venta de bienes y prestación de servicios, adelantar las acciones de cobro y de recuperación de cartera, reportar a
                centrales de riesgo cuando corresponda, y demás fines que estipule la empresa en cumplimiento de la obligación
                contractual derivada de este contrato; y en general realizar toda acción tendiente al tratamiento de mis datos
                personales de acuerdo con la política establecida para tal fin por la empresa como responsable y encargada de la
                información. El alcance de la autorización comprende la facultad para que, la empresa envíe mensajes con contenidos
                institucionales, notificaciones, información del estado de cuenta, saldos, cuotas pendientes de pago, y demás
                información relativa al contrato suscrito, mediante diferentes medios tales como: correo electrónico, mensajes de texto,
                mensajes Whatsapp, correspondencia a mi dirección de residencia.

                En ese sentido, declaro conocer que los datos personales objeto del tratamiento, serán utilizados específicamente para
                las finalidades derivadas del contrato. Adicionalmente, manifiesto que, la sociedad <b>ANDINA CONCEPTOS
                    INMOBILIARIOS</b><b> S.A.S</b>. sus filiales, sucursales o subordinados podrán: realizar las consultas, reportes y
                actualizaciones necesarias en diferentes listas restrictivas requeridas en cumplimiento del deber legal que le asiste a
                la empresa para el sistema de autocontrol y gestión del riego integral de lavado de activos y financiación del
                terrorismo (SAGRILAFT); consulta, reportes y actualizaciones necesarias en bancos de datos del comportamiento y crédito
                comercial, hábitos de pago, manejo de las cuentas(s) bancaria(s) y en general el cumplimiento de las obligaciones
                pecuniarias, en torno al contrato.

                En aplicación de lo dispuesto en la Ley 1581 de 2012, y su decreto reglamentario 1377 de 2013,<b> </b>la empresa queda
                autorizada de manera expresa e inequívoca para mantener y manejar toda mi información personal, de acuerdo con la
                política de tratamiento de datos personales.

                <b>CLÁUSULA</b><b> DÉCIMA </b><b>SÉPTIMA</b><b>. REPORTE A CENTRALES DE RIESGO:</b> <b>EL (LOS) PROMITENTE(S)
                    COMPRADOR(ES)</b> acepta(n) que <b>LA PROMITENTE VENDEDORA </b>puede hacer pública la información de este contrato y
                da su autorización expresa para que las centrales de riesgo o cualquier otra institución de crédito la mantenga en su
                historial de crédito.

                <b>CLÁUSULA</b><b> DÉCIMA OCTAVA. </b><b>CLÁUSULA SAGRILAFT (SISTEMA DE AUTOCONTROL Y GESTIÓN DEL RIESGO INTEGRAL DE
                    LAVADO DE ACTIVOS Y FINANCIACIÓN DE TERRORISMO):</b> En cumplimiento del deber legal que le asiste a la sociedad
                <b>ANDINA CONCEPTOS INMOBILIARIOS S.A.S</b><b>, </b>con NIT 900993044-9, sus filiales, sucursales o subordinados, en
                relación con la cooperación para la prevención del lavado de activos, la financiación del terrorismo y cualquier otro
                delito conexo contemplado en normas nacionales e internacionales, declaro (amos) como <b>EL (LOS) PROMITENTE(S)
                    COMPRADOR(ES) </b>que, el patrimonio y las fuentes económicas que permiten la compra mediante el presente contrato
                de Promesa de Compraventa de bien futuro, del lote en el proyecto “<b>CONJUNTO RESIDENCIAL FRACTAL CASAS DE VERANO</b>”,
                no son fruto de actividades ilícitas u otros delitos conexos, razón por la cual, acepto (amos) que, en el evento en que
                me (nos) encuentre (n) en la lista OFAC (Office of Foreign Assets Control) o la lista ONU (Lista del Consejo de
                Seguridad de la Organización de las Naciones Unidas) o de alguna otra de igual o similar naturaleza, de carácter
                nacional o internacional, o haya (mos) sido sentenciado (s) judicialmente por cualquier delito fuente o relacionado con
                el lavado de activos, financiación del terrorismo o la proliferación de armas de destrucción masiva, o haya sido
                extraditado, seré (mos) responsable (s) por los daños y perjuicios que dicho reporte o sentencia le ocasione a la
                sociedad <b>ANDINA CONCEPTOS INMOBILIARIOS S.A.S</b><b>, </b>con NIT 900993044-9, sus filiales, sucursales o
                subordinados, sin perjuicio de la responsabilidad penal que me (nos) asiste y, faculto (amos) a la sociedad <b>ANDINA
                    CONCEPTOS INMOBILIARIOS S.A.S</b><b>,</b> con NIT 900993044-9, sus filiales, sucursales o subordinados, para dar por
                terminado unilateralmente el contrato de promesa de compraventa de bien futuro en cualquier momento y sin previo aviso,
                por configurarse una causal objetiva de terminación del contrato, y hacer el reporte a los diferentes entes de control u
                autoridades competentes del hallazgo del mismo.
                 
                <b>PARÁGRAFO PRIMERO: </b>En el evento en que se configure una de las causales previstas en el presente clausula como lo
                es la aparición en listas restrictivas o la condena proveniente de delitos relacionados con lavados de activos y
                conexos,  autorizamos a la sociedad <b>ANDINA CONCEPTOS INMOBILIARIOS S.A.S, </b>con NIT 900993044-9, para que descuente
                el uno por ciento (1%), de la suma de dinero que, haya (mos) pagado, para la compra del lote, por concepto de gastos
                administrativos, que se generaron por la suscripción del contrato. Esto sin perjuicio de las estipulaciones por
                incumplimiento del contrato establecidas en la cláusula penal del presente contrato, y de los daños y perjuicios que
                dicho reporte o sentencia le ocasione a la <b>VENDEDORA</b>, y de la responsabilidad penal que me (nos) asistiera frente
                a esta sociedad.

                <b>PARÁGRAFO SEGUNDO:</b> Igualmente, declaramos y certificamos que no tenemos presencia en países considerados paraísos
                fiscales, países sancionados por la OFAC y países no cooperantes. 

                <b>CLÁUSULA</b><b> DÉCIMA NOVENA</b><b>. DECLARACIÓN DE ORIGENES DE FONDO DE </b><b>EL (LOS) PROMITENTE(S)
                    COMPRADOR(ES)</b><b>:</b> Quien suscribe el presente contrato de Promesa de Compraventa de bien futuro, del lote en
                el proyecto “<b>CONJUNTO RESIDENCIAL FRACTAL CASAS DE VERANO</b>”<b>,</b> obrando en nombre propio, de manera voluntaria
                y dando certeza de que todo lo aquí consignado es cierto, realiza la siguiente declaración de utilización de fondos a
                <b>ANDINA CONCEPTOS INMOBILIARIOS S.A.S</b>. con NIT 900993044-9, con el propósito de que se pueda dar cumplimiento a lo
                señalado al respecto en la Circular Básica Jurídica de la Superintendencia de Sociedades: 1. Que mi actividad, profesión
                y/u oficio las ejerzo dentro del marco regulatorio aplicable y que los recursos que poseo no provienen del desarrollo de
                las actividades contempladas en el Código Penal Colombiano (Ley 599 de 2000 o cualquier norma que lo adicione,
                complemente o modifique). 2. Que la información que he suministrado a través de este documento es veraz, verificable y
                que además asumo el compromiso de actualizarla anualmente conforme a los requerimientos realizados por ANDINA CONCEPTOS
                INMOBILIARIOS S.A.S, con NIT 900993044-9. 3. Informaré inmediatamente cualquier circunstancia que modifique la presente
                declaración, una vez tenga conocimiento de la misma. 4. Cuando a ello haya lugar, autorizo a ANDINA CONCEPTOS
                INMOBILIARIOS S.A.S,, con NIT 900993044-9, a dar inicio a la liquidación del (los) Contrato (s) que me vincule (n), en
                el caso de infracción de cualquiera de los numerales anteriores o en el eventual caso de que por aplicación de normas
                sancionadas con posterioridad a la firma de este documento se modifiquen las declaraciones por mi efectuadas, eximiendo
                por lo tanto a ANDINA CONCEPTOS INMOBILIARIOS S.A.S., con NIT 900993044-9, de toda responsabilidad que se derive por
                información errónea, falsa o inexacta que yo hubiere proporcionado en este documento, o de la violación del mismo. 6. Me
                comprometo y obligo a actualizar al menos una vez cada año los datos e información que fueren requeridos por ANDINA
                CONCEPTOS INMOBILIARIOS S.A.S. 7. No soy una persona expuesta políticamente según la legislación nacional y asumo el
                compromiso de informar cualquier modificación que se produzca al respecto, dentro de los treinta (30) días de ocurrencia
                de la novedad, mediante la presentación de una nueva declaración.

                <b>CLÁUSULA </b><b>VIGÉCIMA</b><b>.</b> <b>LA PROMITENTE VENDEDORA</b>, autoriza y entrega toda la comercialización del
                proyecto denominado “<b>CONJUNTO RESIDENCIAL FRACTAL CASAS DE VERANO</b>”, a la sociedad <b>STATUS COMERCIALIZADORA
                    S.A.S</b>., con NIT 901018375-4, sociedad con domicilio en la ciudad de Medellín, inscrita con en la Cámara de
                Comercio de Medellín para Antioquia con la matrícula Nº 21-572509-12. quien comercializará y recaudará los dineros
                correspondientes de las ventas de los lotes de este proyecto.

                <b>CLÁUSULA</b><b> </b><b>VIGÉCIMA PRIMERA</b><b>. ARBITRAMENTO:</b> Toda controversia o diferencia relativa a este
                contrato, se resolverá por un Tribunal de Arbitramento presentado ante el Centro de Conciliación y Arbitraje de la
                Cámara de Comercio de Medellín para Antioquía, el cual estará sujeto a sus reglamentos y al procedimiento allí
                contemplado. El Tribunal estará integrado por tres (3) árbitros designados por el Centro de Conciliación y Arbitraje de
                la Cámara de Comercio de Medellín para Antioquía, a solicitud de cualquiera de las partes.  Los gastos ocasionados por
                el tribunal de arbitramento, serán cancelados en su totalidad, por la parte quien lo convoque.

                <b>CLÁUSULA</b><b> </b><b>VIGÉCIMA SEGUNDA</b><b>.</b> <b>ACUERDOS ANTERIORES</b><b>:</b> Las partes manifiestan que no
                reconocen la validez de estipulaciones verbales relacionadas con el presente contrato o cualquier acuerdo escrito con
                anterioridad relacionado con el LOTE FUTURO, objeto de este contrato, ya que el presente contrato constituye el acuerdo
                completo y total entre las partes. De la misma manera, las partes acuerdan que cualquier reclamo, solicitud, queja,
                petición o información que afecte directamente el objeto de este contrato, debe ser comunicado únicamente por medio
                escrito, y será respondido dentro del término legal.

                <b>CLÁUSULA</b><b> </b><b>VIGÉCIMA TERCERA</b><b>. DECLARACIÓNES:</b> Declara(n) <b>EL (LOS) PROMITENTE(S)
                    COMPRADOR(ES)</b>: 1)<b> </b>Que los recursos económicos utilizados para la compra del lote son de origen lícito.
                2)<b> </b>que la dirección oficial de correspondencia es la anotada en el encabezamiento de este contrato, 3) que
                está(n) de acuerdo con el contenido en todas las cláusulas del presente contrato, por lo que firma(n) conforme(s). 4)
                Que es su obligación informar por escrito a <b>LA PROMITENTE VENDEDORA</b> cualquier cambio de dirección o teléfonos. 5)
                Que es su obligación pagar oportunamente cualquiera de las obligaciones pecuniarias enunciadas en este contrato, en las
                oficinas de <b>LA PROMITENTE VENDEDORA</b> o consignando los valores correspondientes en las cuentas bancarias de <b>LA
                    PROMITENTE VENDEDORA</b>,

                <b>CLÁUSULA </b><b>VIGÉCIMA</b><b> CUARTA</b><b>. DOMICILIO: </b>Que, para todos los efectos de este contrato el
                domicilio es la ciudad de Medellín, departamento de Antioquía.
            </p>
            <br>
            <p>
                En señal de aceptación de lo aquí suscrito, firman LAS PARTES,{%if es_promesa%} 
                el día <u> {{ctr.fechapromesa.day}} </u> de <u> {{ctr.fechapromesa|date:"F"}} </u> de <u> {{ctr.fechapromesa.year}} </u> .
                {%else%}
                el día <u> {{ctr.fecha_contrato.day}} </u> de <u> {{ctr.fecha_contrato|date:"F"}} </u> de <u> {{ctr.fecha_contrato.year}} </u> .
                {%endif%}en la ciudad de <u>{{oficina}}</u>
            </p>                
            <table>
                <tr>
                    <td style="width:50%;text-align:center;font-size:12px">
                        <b>LA PROMITENTE VENDEDORA</b><br><br><br><br>
                        ____________________________________________<br>
                        <b>ANDINA CONCEPTOS INMOBILIARIOS S.A.S</b><br>
                        NIT. 900.993.044-9
                    </td>  
                    <td style="width:50%;text-align:center;font-size:12px">
                        <b>EL PROMITENTE COMPRADOR</b><br><br><br><br>
                        ______________________________________<br>
                        <b>NOMBRE: </b>{{ctr.titulares.0.nombrecompleto.upper}}<br>
                        <b>CC: </b>{{ctr.titulares.0.pk}}
                    </td>
                </tr>
            </table>
            {%if ctr.titulares.1%}
            <table>
                <tr>
                    <td style="{%if ctr.titulares.3%}width:33%;{%elif ctr.titulares.2%}width:50%;{%endif%}text-align:center;font-size:12px">
                        <b>EL PROMITENTE COMPRADOR</b><br><br><br><br>
                        ______________________________________<br>
                        <b>NOMBRE: </b>{{ctr.titulares.1.nombrecompleto.upper}}<br>
                        <b>CC: </b>{{ctr.titulares.1.pk}}
                    </td>
                    {%if ctr.titulares.2%}
                    <td style="{%if ctr.titulares.3%}width:33%;{%else%}width:50%;{%endif%}text-align:center;font-size:12px">
                        <b>EL PROMITENTE COMPRADOR</b><br><br><br><br>
                        ______________________________________<br>
                        <b>NOMBRE: </b>{{ctr.titulares.2.nombrecompleto.upper}}<br>
                        <b>CC: </b>{{ctr.titulares.2.pk}}
                    </td>
                    {%endif%}
                    {%if ctr.titulares.3%}
                    <td style="width:33%;text-align:center;font-size:12px">
                        <b>EL PROMITENTE COMPRADOR</b><br><br><br><br>
                        ______________________________________<br>
                        <b>NOMBRE: </b>{{ctr.titulares.3.nombrecompleto.upper}}<br>
                        <b>CC: </b>{{ctr.titulares.3.pk}}
                    </td>
                    {%endif%}
                </tr>
            </table>
            {%endif%}
        </div>
        <head>
            <style>
                @page {
                    size: legal;
                    @frame content_frame {
                        /* Content Frame */
                        left: 1cm;
                        width: 19.5cm;
                        top: 1cm;
                        height: 31.7cm;
                    }
                    @frame footer_frame  {
                        /* Static Frame */
                        -pdf-frame-content: footer_content;
                        left: 1cm;
                        width: 19.5cm;
                        top: 33.5cm;
                        height: 1.5cm;
                    }
                }
            
                @font-face {
                    font-family: Ubuntu;
                    src: url("{%static 'fonts/Ubuntu/UbuntuLight.ttf'%}");
                }
            
                /* Bold */
                @font-face {
                    font-family: Ubuntu;
                    src: url("{%static 'fonts/Ubuntu/UbuntuBold.ttf'%}");
                    font-weight: bold;
                }
            
                body {
                    font-family: Ubuntu;
                }
            
                .cuerpo {
                    font-size: 11px;
                    color: rgb(81, 81, 81);
                    line-height: normal;
                }
                .detalles{
                    font-size: 11px;
                    color: rgb(81, 81, 81);
                }
            </style>
        </head>
    </body>
</html>