<style>
    #svg_3 {
        animation-delay: 0.5s;
        animation-duration: 2.5s;
        animation-name: closer;
        transform-origin: bottom left;
        transform-box: fill-box;
        animation-fill-mode: forwards;
        transform: rotate(42deg);
    }
    #scndText{
        margin-left: -25px;
        animation-delay: 3s;
        animation-name: moveRight;
        animation-duration:1.5s;
        animation-fill-mode: forwards;
    }
    .ligthray {
        animation-delay: 3s;
        animation-name: showligth;
        animation-duration: 1.5s;
        opacity: 0;
        transition: opacity 0.9s ease-in-out;
        animation-fill-mode: forwards;
    }

    #light {
        animation-delay: 3s;
        animation-duration: 1.5s;
        animation-name: showligth;
        animation-fill-mode: forwards;
        margin-left: -25px;
    }
    @keyframes moveRight {
        0% {
            
        }
        100% {
            margin-left: 0px;
        }
    }
    @keyframes showligth {
        0% {
            
        }
        100% {
            opacity: 1;
            fill: #D9297B;
            margin-left: 0px;
        }
    }

    @keyframes closer {
        0% {
        }

        100% {
            x: 23.7;
            y: 215;
            transform: rotate(0deg);
        }
    }
</style>
<svg xmlns="http://www.w3.org/2000/svg" width="250" height="400">
    <g>
        <title>Layer 1</title>
        <text fill="#1498D5" stroke-width="0" x="182.64864" y="170.31897" id="svg_1" font-size="24"
            font-family="'Montserrat'" text-anchor="start" xml:space="preserve" stroke="#000"
            transform="matrix(14.2613 0 0 13.232 -2620.34 -1869)" font-weight="normal" font-style="normal">D</text>
        <rect fill="#ffffff" stroke="#ffffff" stroke-width="0" x="2.6" y="232.4" width="60" height="72" id="svg_2" />
        <rect stroke="#1498D5" rx="8" id="svg_3" height="95.04878" width="24.8" y="212" x="21.3" fill="#1498D5" />
        
    </g>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="420" height="400">
    <g>
        <text xmlns="http://www.w3.org/2000/svg" transform="matrix(1.58088 0 0 1.54684 -174.263 -194.24)" stroke="#000"
            xml:space="preserve" text-anchor="start" font-family="'Montserrat'" font-size="72" id="svg_4" y="364.8"
            x="110" stroke-width="0" fill="#000000">omotih</text>
    </g>
</svg>
<svg id="light" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="200" viewBox="0 0 24 24"
    width="180">
    <g>
        <path
            d="m13.5 24h-3c-.7 0-1.5-.6-1.5-1.8v-2.1c0-1-.5-1.9-1.3-2.6-1.8-1.4-2.7-3.4-2.7-5.6.1-3.8 3.2-6.8 6.9-6.9 1.9 0 3.7.7 5 2s2.1 3.1 2.1 5c0 2.1-.9 4.1-2.6 5.4-.9.7-1.4 1.8-1.4 2.8v2.3c0 .8-.7 1.5-1.5 1.5zm-1.5-18c-3.2 0-5.9 2.7-6 5.9 0 1.9.8 3.7 2.3 4.8 1.1.9 1.7 2.1 1.7 3.4v2.1c0 .2 0 .8.5.8h3c.3 0 .5-.2.5-.5v-2.3c0-1.3.7-2.7 1.8-3.6 1.4-1.1 2.2-2.8 2.2-4.6 0-1.6-.6-3.1-1.8-4.3-1.1-1.1-2.6-1.7-4.2-1.7z" />
    </g>
    <g>
        <path d="m14.5 21h-5c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h5c.3 0 .5.2.5.5s-.2.5-.5.5z" />
    </g>
    <g class='ligthray'>
        <path d="m12 3c-.3 0-.5-.2-.5-.5v-2c0-.3.2-.5.5-.5s.5.2.5.5v2c0 .3-.2.5-.5.5z" />
    </g>
    <g class='ligthray'>
        <path d="m18.7 5.8c-.1 0-.3 0-.4-.1-.2-.2-.2-.5 0-.7l1.4-1.4c.2-.2.5-.2.7 0s.2.5 0 .7l-1.4 1.4s-.2.1-.3.1z" />
    </g>
    <g class='ligthray'>
        <path d="m23.5 12.5h-2c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h2c.3 0 .5.2.5.5s-.2.5-.5.5z" />
    </g>
    <g class='ligthray'>
        <path
            d="m20.1 20.6c-.1 0-.3 0-.4-.1l-1.4-1.4c-.2-.2-.2-.5 0-.7s.5-.2.7 0l1.4 1.4c.2.2.2.5 0 .7 0 .1-.1.1-.3.1z" />
    </g>
    <g class='ligthray'>
        <path
            d="m3.9 20.6c-.1 0-.3 0-.4-.1-.2-.2-.2-.5 0-.7l1.4-1.4c.2-.2.5-.2.7 0s.2.5 0 .7l-1.4 1.4c-.1.1-.2.1-.3.1z" />
    </g>
    <g class='ligthray'>
        <path d="m2.5 12.5h-2c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h2c.3 0 .5.2.5.5s-.2.5-.5.5z" />
    </g>
    <g class='ligthray'>
        <path
            d="m5.3 5.8c-.1 0-.3 0-.4-.1l-1.4-1.5c-.2-.2-.2-.5 0-.7s.5-.2.7 0l1.4 1.4c.2.2.2.5 0 .7-.1.1-.2.2-.3.2z" />
    </g>
    <g>
        <path
            d="m16 12.5c-.3 0-.5-.2-.5-.5 0-1.9-1.6-3.5-3.5-3.5-.3 0-.5-.2-.5-.5s.2-.5.5-.5c2.5 0 4.5 2 4.5 4.5 0 .3-.2.5-.5.5z" />
    </g>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="420" height="400" id='scndText'>
    <g>
        <text xmlns="http://www.w3.org/2000/svg" transform="matrix(1.58088 0 0 1.54684 -174.263 -194.24)" stroke="#000"
            xml:space="preserve" text-anchor="start" font-family="'Montserrat'" font-size="72" id="svg_4" y="364.8"
            x="110" stroke-width="0" fill="#000000">use</text>
    </g>
</svg>