<div id='general-right-alert'class="alert alert-dismissible fade position-fixed" role="alert" 
style='right: 10px;top:50px;max-width: 500px'>
    <strong><p id='alert-title'></p></strong> <small><p id='alert-data'></p></small>
    <button type="button" class="close" id='btnAlertaRight' onclick="cerrarAlerta()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<script>
  var ANDINA_ALERT_CLASSES = [
    'alert-danger', 'alert-success', 'alert-info', 'alert-warning',
    'alert-primary', 'alert-secondary', 'alert-dark', 'alert-light', 'alert-white'
  ];

  function limpiarClasesAlertaRight() {
    var $el = $('#general-right-alert');
    $el.removeClass('show');
    ANDINA_ALERT_CLASSES.forEach(function (c) { $el.removeClass(c); });
  }

  function cerrarAlerta() {
    limpiarClasesAlertaRight();
  }

  window.showAndinaToast = function (title, html, alertClass) {
    limpiarClasesAlertaRight();
    $('#alert-title').text(title || '');
    $('#alert-data').html(html || '');
    $('#general-right-alert').addClass('show').addClass(alertClass || 'alert-info');
  };

  $(document).ready(function(){
    if('{{topalert.alert}}'){
      showAndinaToast('{{topalert.title}}', '{{topalert.message|escapejs}}', '{{topalert.class}}');
    }
  });
</script>
