<div class="modal fade" id="alerta-general" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h4 id='titulo-alerta' class="modal-title" id="staticBackdropLabel">¡Todo salió perfecto!</h4>
        </div>
        <div class="modal-body">
        {%if link%}
            <a href="{{ruta_link}}" target='_blank' class='lead text-center'><p class='lead' id='mensaje-alerta'></p></a>
        {%else%}
            <p class='lead' id='mensaje-alerta'></p>
        {%endif%}
        </div>
        <div class="modal-footer">
        {%if redireccion%}
            <a href='{{redirect}}' type="button" class="btn btn-primary" >Entendido</a>
        {%else%}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
        {%endif%}
        </div>
    </div>
    </div>
  </div>
{%block js%}
{%if alerta%}
<script>
    $('#alerta-general').modal('show')
    document.getElementById('mensaje-alerta').innerHTML='{{mensaje}}';
    document.getElementById('titulo-alerta').innerHTML='{{titulo_alerta}}';
    // Simulate an HTTP redirect:
    /* window.location.replace("{{redirect}}"); */
</script>
{%endif%}
{%endblock%}