<div class="modal fade" id="confirmacion-correos" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h4 id='titulo-alerta' class="modal-title" id="staticBackdropLabel">¿Deseas Enviar Notificacion?</h4>
        
        </div>
        <div class="modal-body">
            <input id='correos' type='text' class='text-wrap'>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="">Si</button>
        
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
    </div>
    </div>
  </div>