{%load crispy_forms_tags%}
<br/>
<form id='form-escala' class='form' method='post' action=''>{%csrf_token%}
    <div class='form-row'>
        <div class='col-md-4 col-xl-2'>{{form_escala.cc_generador|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-1'>{{form_escala.porc_generador|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-2 button-titulares'>
            <button id='btns-escala1a' type='button' class='btn btn-secondary' data-toggle="modal" data-target="#modal-asesores" data-whatever="generador"><i class="fas fa-search"></i></button>
            <button id='btns-escala1b' type='button' class='btn btn-secondary' onclick="borrar_comision('generador')"><i class="fas fa-backspace"></i></button>
        </div>
        <div class='col-md-12 col-xl-7'><p class='lead button-titulares' id='name-generador'></div>
    </div>
    <div class='form-row'>
        <div class='col-md-4 col-xl-2'>{{form_escala.cc_linea|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-1'>{{form_escala.porc_linea|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-2 button-titulares'>
            <button id='btns-escala2a' type='button' class='btn btn-secondary' data-toggle="modal" data-target="#modal-asesores" data-whatever="linea"><i class="fas fa-search"></i></button>
            <button id='btns-escala2b' type='button' class='btn btn-secondary' onclick="borrar_comision('linea')"><i class="fas fa-backspace"></i></button>
        </div>
        <div class='col-md-12 col-xl-7'><p class='lead button-titulares' id='name-linea'></div>
    </div>
    <div class='form-row'>
        <div class='col-md-4 col-xl-2'>{{form_escala.cc_cerrador|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-1'>{{form_escala.porc_cerrador|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-2 button-titulares'>
            <button id='btns-escala3a' type='button' class='btn btn-secondary' data-toggle="modal" data-target="#modal-asesores" data-whatever="cerrador"><i class="fas fa-search"></i></button>
            <button id='btns-escala3b' type='button' class='btn btn-secondary' onclick="borrar_comision('cerrador')"><i class="fas fa-backspace"></i></button>
        </div>
        <div class='col-md-12 col-xl-7'><p class='lead button-titulares' id='name-cerrador'></div>
        
    </div>
    <div class='form-row'>
        <div class='col-md-4 col-xl-2'>{{form_escala.cc_jefep|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-1'>{{form_escala.porc_jefep|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-2 button-titulares'>
            <button id='btns-escala5a' type='button' class='btn btn-secondary' data-toggle="modal" data-target="#modal-asesores" data-whatever="jefep"><i class="fas fa-search"></i></button>
            <button id='btns-escala5b' type='button' class='btn btn-secondary' onclick="borrar_comision('jefep')"><i class="fas fa-backspace"></i></button>
        </div>
        <div class='col-md-12 col-xl-7'><p class='lead button-titulares' id='name-jefep'></div>
    </div>
    <div class='form-row'>
        <div class='col-md-4 col-xl-2'>{{form_escala.cc_jefev|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-1'>{{form_escala.porc_jefev|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-2 button-titulares'>
            <button id='btns-escala6a' type='button' class='btn btn-secondary' data-toggle="modal" data-target="#modal-asesores" data-whatever="jefev"><i class="fas fa-search"></i></button>
            <button id='btns-escala6b' type='button' class='btn btn-secondary' onclick="borrar_comision('jefev')"><i class="fas fa-backspace"></i></button>
        </div>
        <div class='col-md-12 col-xl-7'><p class='lead button-titulares' id='name-jefev'></div>
    </div>
    <div class='form-row'>
        <div class='col-md-4 col-xl-2'>{{form_escala.cc_gerventas|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-1'>{{form_escala.porc_gerventas|as_crispy_field}}</div>
        <div class='col-md-3 col-xl-2 button-titulares'>
            <button id='btns-escala4a' type='button' class='btn btn-secondary' data-toggle="modal" data-target="#modal-asesores" data-whatever="tlmk"><i class="fas fa-search"></i></button>
            <button id='btns-escala4b' type='button' class='btn btn-secondary' onclick="borrar_comision('tlmk')"><i class="fas fa-backspace"></i></button>
        </div>
        <div class='col-md-12 col-xl-7'><p class='lead button-titulares' id='name-tlmk'></div>
    </div>
    <div class='form-row' id='botones-escala'>
        <div class="btn-group">
            <input class='btn btn-secondary' type='submit' name='modificar-escala' id='grabar-escala' value='Modificar'>
            <input class='btn btn-primary' type='submit' name='grabar-escala' id='grabar-escala' value='Guardar'>
        </div>
    </div>
   </form>
<!-- Modal -->
<div class="modal fade" id="modal-asesores" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" id="ModalLabel">Escoger Cliente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <input type="hidden" class="form-control" id="id-cargo"><!-- Esto controla a que titular va la seleccion -->
            <div class='table-responsive'>
                <table id='tabla-asesores' class="table table-striped table-bordered table-sm">
                    <thead class='thead thead-light'>
                        <tr>
                            <th class='text-center'>Identificacion</th>
                            <th class='text-center'>Nombre</th>
                        </tr>
                    </thead>
                    <tbody id='body-tabla-asesores'>
                        {%for asesor in asesores%}
                        <tr>
                            <td class='text-center'>{{asesor.cedula}}</td>
                            <td>{{asesor.nombre}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    $('#tabla-asesores').DataTable({
        "pageLength": 10,
        'lengthMenu':[[10,25,50,-1],[10,25,50,'All']],
        "autoWidth": false,
        });
        var oTable = $('#tabla-asesores').DataTable();
        $('#modal-asesores').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever')
            var modal = $(this)
            $('#id-cargo').val(recipient)
        });
        $('#tabla-asesores tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
            var pos = oTable.row(this).index();
            var row = oTable.row(pos).data();
            var destino=$('#id-cargo').val()
            $('#cc_'+destino).val(row[0])
            document.getElementById('name-'+destino).innerHTML =row[1]
            $('#modal-asesores').modal('hide')
        } );
        } );    
</script>