<div class="modal fade" id="modalCambiarLote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-sync"></i>
            &nbsp;Cambiar Lote</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      <form method='POST'>{%csrf_token%}
            <select class="custom-select" id='lotecambiar' name='lotecambiar' required>
              <option value='' selected>Selecciona un lote</option>
              {%for lote in lotes_libres%}
              <option value="{{lote.idinmueble}}">{{lote.idinmueble}}</option>
              {%endfor%}
            </select>
              <label class='mt-2' for="nuevoEstadoLote">Nuevo estado del lote liberado</label>
              <select class="custom-select" id="nuevoEstadoLote" name='nuevoEstadoLote' required>
                <option value="Libre">Libre</option>
                <option value="Sin Liberar">Sin Liberar</option>
                <option value="Eliminado">Eliminado</option>
              </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input type="submit" id='btnCambiarLote' name ='btnCambiarLote' class="btn btn-primary" value='Cambiar'>
      </div>
    </form>
            
      </div>
    </div>
  </div>