{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class='container'>
    <div class="bg-white rounded shadow-sm" style="padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <a href="/venta/inventario/Tesoro Escondido"><img src="{%static 'img/logo-Tesoro-Escondido.png'%}" class="img-fluid" alt="Responsive image"></a>
            </div>
            <div class="col-xs-12 col-md-6">
                <a href="/venta/inventario/Vegas de Venecia"><img src="{%static 'img/logo-camisas-vegas-de-venecia.png'%}" class="img-fluid" alt="Responsive image"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <a href="/venta/inventario/Sandville Beach"><img src="{%static 'img/sandville beach.png'%}" class="img-fluid" alt="Responsive image"></a>
            </div>
            <div class="col-xs-12 col-md-6">
                <a href="/venta/inventario/Perla del Mar"><img src="{%static 'img/Perla del Mar.png'%}" class="img-fluid" alt="Responsive image"></a>
                <a href="/venta/inventario/Sandville del Sol">Sandville del Sol</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}